$viewport-3: 320px;   /* smartphones, portrait iPhone, portrait 480 x 320 phones (Android) */
$viewport-4: 480px;   /* smartphones, Android phones, landscape iPhone */
$viewport-6: 600px;   /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800 x 480 phones (Android) */
$viewport-8: 801px;   /* tablet, landscape iPad, lo-res laptops ands desktops */
$viewport-10: 1025px; /* big landscape tablets, laptops, and desktops */
$viewport-12: 1281px; /* hi-res laptops and desktops */
$viewport-19: 1920px; /* bigger screens */
